:root {
    --green: #D4F5A9;
    --blue: #8ED9FF;
    --light-green: #EBF2E2;
    --light-blue: #C6EBFE;
    --dark-green: #A6CE39;
}


.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


/*----GENERAL STYLING----*/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #231F20;
    background-color: white;
}

.icon {
    width: 28%;
}

a {
    text-decoration: none;
    color: #231F20;
}

p {
    margin-block-start: 5px;
    margin-block-end: 10px;
}

h1 {
    font-size: 26px;
    font-weight: 700;
    position: relative;
    left: 18px;
    top: 8px;
}

h2 {
    font-size: 20px;
    font-weight: 700;
    position: relative;
    left: 18px;
    top: 8px;
}

h3 {
    font-size: 20px;
    margin-block-start: 10px;
    margin-block-end: 5px;
}

.header-icon {
    width: 30%;
}

.header-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}

.lower-opacity {
    color: #818181;
    font-size: 14px;
}

.last-element {
    margin-bottom: 70px !important;
}

/*
.welcome-sticker{
    position: absolute;
    top: 20px;
    width: 100%;
    height: 35px;
    background-color: var(--dark-green);
}
*/


/*----GRID----*/

/*loginpage*/

.login-page {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
}

.logo {
    grid-column-start: 2;
    grid-column-end: 5;
    align-self: center;
    justify-self: center;
    width: 75%;
    padding-top: 90px;
}

.username {
    background-color: var(--light-green);
    border-radius: 18px;
    width: 90%;
    justify-self: center;
    display: flex;
    align-items: center;
}

.password {
    background-color: var(--green);
    border-radius: 18px;
    width: 90%;
    justify-self: center;
    display: flex;
    align-items: center;
}

.profile-login {
    width: 7%;
    padding-left: 12px;
    padding-right: 10px;
}

.button {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: var(--dark-green);
    border-radius: 18px;
    width: 90%;
    height: 47.5px;
    justify-self: center;
    margin-top: 8%;
}

.login {
    color: #ffff;
    padding-top: 14px;
    padding-left: 135px;
}

/*frontpage*/

.container {
    display: grid;
    grid-template-columns: 375px;
    grid-template-rows: 80px 634px 40px;
}

.header {
    display: grid;
    grid-template-columns: 70px 235px 70px;
    position: fixed;
    top: 0;
    background-color: #fff;
    height: 70px;
}

.search {
    grid-column-start: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-header {
    grid-column-start: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-header-img {
    width: 60%;
    margin-top: 12px;
}

.back {
    grid-column-start: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content {
    display: grid;
    grid-template-columns: 10px 1fr 12px 1fr 10px;
    grid-template-rows: 285px 105px 220px;
    row-gap: 10px;
    grid-row-start: 2
}

.my-school {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: var(--light-blue);
    border-radius: 18px;
    background-image: url("img/my-school.png");
    background-repeat: no-repeat;
    background-size: 110%;
}

.news {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: var(--green);
    border-radius: 18px;
}

.photo-gallery {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: var(--blue);
    border-radius: 18px;
}

.calendar {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: var(--light-green);
    border-radius: 18px;
    background-image: url("img/calendar-tile.png");
    background-repeat: no-repeat;
    background-size: 108%;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: fixed;
    bottom: 0;
}

.home,
.profile,
.messages {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

/*my school page*/

.content-my-school {
    display: grid;
    grid-template-columns: 10px 1fr 12px 1fr 10px;
    grid-template-rows: 300px 130px 180px;
    row-gap: 10px;
    grid-row-start: 2
}

.class-wall {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    border-radius: 18px;
    background-image: url("img/school-wall.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.schedule {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    border-radius: 18px;
    background-image: url("img/schedule.png");
    background-repeat: no-repeat;
    background-size: 118%;
}

.middle {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 215px auto;
    column-gap: 10px;
}

.challenges {
    background-color: var(--blue);
    border-radius: 18px;
}

.score {
    background-color: var(--light-blue);
    border-radius: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 0;
    top: 0;
    text-align: center;
}

.score-text {
    font-size: 20px;
    font-weight: 700;
}

.score-number {
    font-size: 40px;
}

/*calendar*/

.months {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    border-radius: 18px;
    background-image: url("img/calendar.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.events {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}

.event {
    display: inline-flex;
    margin-left: 50px;
    font-size: 20px;
    margin-top: 8px;
}

.event-name {
    margin-left: 10px;
}

.date {
    font-weight: bold;
    color: var(--blue);
}

/*news page*/

.content-news {
    display: grid;
    grid-template-columns: 10px auto 10px;
    grid-row-start: 2;
}

.news1,
.news3 {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: var(--light-green);
    border-radius: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px 20px 10px 20px;
}

.news2,
.news4 {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: var(--green);
    border-radius: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px 20px 10px 20px;
}

/*photo gallery page*/

.content-photo-gallery {
    grid-row-start: 2;
    display: grid;
    grid-template-columns: 10px auto 10px;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    grid-column-start: 2;
    width: 100%;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 90%;
    max-width: 400px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 16px 0;
    height: 50px;
}

/* Add Animation */
.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*class wall page*/

.content-my-class-wall {
    grid-row-start: 2;
}

.post {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: var(--light-blue);
    border-radius: 18px;
    margin-top: 5px;
    margin: 10px;
    padding: 10px 20px 10px 20px;
}

#create-post {
    grid-column-start: 2;
    height: 50px;
    border: none;
    border-radius: 18px;
    background-color: var(--blue);
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-family: "Lato";
    width: 355px;
    margin: 0 10px 0 10px;
}

/*write a post*/

.content-write-post {
    grid-row-start: 2;
    display: grid;
    grid-template-rows: 50px 450px 50px 10px 50px;
    grid-template-columns: 10px auto 10px;
}

.blue-button {
    height: 50px;
    border: none;
    border-radius: 18px;
    background-color: var(--blue);
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-family: "Lato";
}

#text {
    grid-row-start: 2;
    grid-column-start: 2;
    height: 15%;
    border: none;
    font-size: 16px;
    font-family: "Lato";
}

.add-contents {
    grid-column-start: 2;
    grid-row-start: 3;
    display: grid;
    grid-template-columns: 50% 50%;
}

.post-button {
    justify-self: end;
    grid-column-start: 2;
    width: 25%;
}

.add-photo {
    margin-right: 5px;
}

.add-file {
    margin-left: 5px;
}

.publish {
    grid-column-start: 2;
    grid-row-start: 5;
}

/*schedule page*/

.schedule-img {
    width: 100%;
    margin-top: 50px;
}

/*challenge page*/

.content-challenges {
    grid-row-start: 2;
    display: grid;
    grid-template-columns: 10px auto 10px;
    grid-template-rows: 307px 10px 240px 10px 50px;
}

#demo {
    grid-column-start: 2;
    text-align: center;
    font-size: 70px;
    margin-top: 0px;
    padding: 45px;
    color: var(--dark-green);
}

.challenge-description {
    grid-column-start: 2;
    grid-row-start: 3;
    background-color: var(--light-green);
    border-radius: 18px;
    padding: 10px 20px 10px 20px;
}

.challenge-button {
    grid-column-start: 2;
    grid-row-start: 5;
    background-color: var(--dark-green) !important;
}

.green-text {
    color: var(--dark-green);
}


/*----READ MORE-----*/

#more,
#more1 {
    display: none;
}

#myBtn,
#myBtn1 {
    font-family: 'Lato';
    padding: 1px 0 10px 0;
    border: none;
    background-color: transparent;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 700;
}

/*----NAVIGATION-----*/

.sticky {
    width: 100%;
    z-index: 200;
    transition: top 0.3s;
    /* Transition effect when sliding down (and up) */
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;
    background-color: white;
}

.nav-links {
    display: flex;
    justify-content: center;
    width: 40%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    color: var(--blue);
}

.nav-links .current {
    font-weight: 700;
    color: var(--blue);
}

.nav-burger {
    display: none;
}

.nav-burger div {
    width: 22px;
    height: 2px;
    background-color: black;
    margin: 5px;
    transition: all 0.5s ease;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 7vh;
    background-color: white;
}

nav div h1 {
    font-size: 12px;
}

body {
    overflow-x: hidden;
}

.nav-links {
    overflow-x: hidden;
    position: absolute;
    right: 0px;
    height: 100vh;
    bottom: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 100;
}

.nav-links li {
    opacity: 0;
    margin: 30px;
}

.nav-links a {
    font-size: 16px;
    color: black;
}

.nav-burger {
    display: block;
    cursor: pointer;
    z-index: 200;
}


.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
}
